{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Zapis do newslettera{% endblock %}

{% block body %}
    <div class="container">
        <form action="{{ path('newsletter') }}" method="post">
            <div class="pt-5">
                <label for="email" class="form-label">Adres e-mail</label>
                <input type="email" class="form-control" id="email">
                <div id="email" class="form-text">Nikomu nie udostępniamy Twojego adresu e-mail</div>
            </div>
            <button type="submit" class="mt-4 btn btn-primary">Zapisz się</button>
        </form>
    </div>
{% endblock %}
