{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Zapis do newslettera{% endblock %}

{% block body %}
    <div class="container">
        <form action="{{ path('newsletter') }}" method="post">
            <div class="pt-5">
                <label for="email" class="form-label">Adres e-mail</label>
                <input type="email" class="form-control" id="email" name="email">
                <div id="email" class="form-text">Nikomu nie udostępniamy Twojego adresu e-mail</div>
            </div>
            <button name="submit" type="submit" class="mt-4 btn btn-primary">Zapisz się</button>
        </form>

        <div class="mt-5 pt-5">
            <div id="response-success" class="alert alert-success d-none"></div>
            <div id="response-error" class="alert alert-danger d-none"></div>
        </div>
    </div>




    <script>
        $(function () {
            $('form').on('submit', function (event) {
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: 'newsletter',
                    data: $('form').serialize(),
                    dataType: 'json',
                    success: function (response) {
                        if (response[0].status === 200) {
                            $('#response-success').removeClass('d-none').html(response[0].message);
                            $('#response-error').addClass('d-none').html('');
                        } else {
                            $('#response-success').addClass('d-none').html('');
                            $('#response-error').removeClass('d-none').html(response[0].message);
                        }
                    }
                });

            });
        });
    </script>
{% endblock %}
